*{
    margin:0;
    padding:0;
}
body{
    background:lightblue;
    color:blueviolet;
}
header{
    font-size:1rem;
    padding:5px;
    margin:10px;
    text-align: center;
}
#goodbyePic{
    display:none;
    height:0;
}
#questionArea{
    padding:5px;
    margin:10px;
    text-align: center;
}
#theQuestion{
    padding:5px;
    width:200px;
}
#askBtn{
    background:none;
    margin:5px;
    padding:5px;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
}
#askBtn:active{
    /* font-size: .75rem; */
    padding:0;
}
#theAnswer{
    margin:10px auto;
    padding:5px;
    text-align: center;
    font-weight: bold;
    width:fit-content;
}