*{
    margin:0;
    padding:0;
}
body{
    background:lightblue;
    color:blueviolet;
}
header{
    font-size:1rem;
    padding:5px;
    margin:10px;
    text-align: center;
}
form{
    border: darkblue 2px solid;
    border-radius: 5px;
    padding:5px;
    margin:10px;
    text-align: center;
}
#theAnswer{
    margin:10px;
    padding:5px;
    text-align: center;
    font-weight: bold;
}